<div class="col-4 mt-3">
    <div class="card">
        <img src="<%= user.image %>" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title"><%= user.firstName %> <%= user.lastName %></h5>
            <p class="card-text">Age: <%= user.age %></p>
            <p class="card-text">Age: <%= user.gender %></p>
            <p class="card-text">Age: <%= user.email %></p>
            <p class="card-text">Age: <%= user.phone %></p>
            <a href="#" class="btn btn-primary">View More..</a>
        </div>
    </div>
</div>